@import url("./normalize.css");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
}

:root{
  --dark: #0D1B2A;
  --medium: #1B263B;
  --light: #415A77;
  --font: #EDE1Dd;
}

body{
  min-height: 100vh;
  background: var(--light);
}

header{
  background: var(--dark);
  box-shadow: 0 2px 4px var(--dark);
}

p, label{
  color: var(--font)
}

main{
  padding: 10px;
}

section#sketch-pad{
  width: min(400px, 100%);
  aspect-ratio: 1 / 1;
  border: 1px solid;
  display: grid;
  margin: 10px auto;
  background: var(--font);
}

section#sketch-pad div{
  border: 1px solid;
}

li{
  display: inline-block;
}

header nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}

header nav ul{
  display: flex;
  gap: 30px;
  align-items: center;
}

nav ul li img{
  width: max(40px, 6vw);
}

nav ul.right li img{
  width: clamp(20px, max(20px, 5vw), 30px);
}

ul li p{
  font-size: calc(10px + 2vw);
}

div.settings-container{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

div.show{
  display: initial;
}


header article#settings{
  width: 150px;
  font-size: 25px;
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid;
  background: var(--light);
  margin: 0 auto;
}

article#settings input{
  width: 30px;
  text-align: center;
  flex-grow: 2;
}

article#settings p{
  border: 1px solid grey;
  flex-basis: 40px;
  text-align: center;
  border-radius: 5px;
  background: var(--dark);
}

article#settings p:active{
  background: var(--light);
}

article.features-pane{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  padding: 10px;
  margin: 25px auto;
  width: min(90%, 400px);
  border-radius: 5px;
  gap: 5px;
  background: var(--medium);
  box-shadow: 0 2px 4px var(--dark);
}

article.features-pane ul li img, section label img{
  width: max(30px, 4vw);
}

article.features-pane ul, article.features-pane section, label{
  display: flex;
  align-items: center;
  gap: 8px;
}

section#colors-choice{
  flex-flow: wrap;
}

article.light, article.light section label{
  background: whitesmoke;
  color: var(--dark);
}

body.light{
  background: whitesmoke;;
}
